:root {
    --cell-size: 84px;
}

body {
    background-color: rgb(13, 39, 233);
}

.grid {
    width: calc(var(--cell-size) * 10);
    height: 320px;
    display: flex;
    align-items: flex-end;
    border-bottom: 15px solid #3DD1E7;
}

.grid>div {
    width: var(--cell-size);
    height: var(--cell-size);
}

.duck {
    background-image: url('./images/little-duck.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.jumping-duck {
    transform: translate(0, -120%);
}

.buoy:not(.duck) {
    background-image: url('./images/obstacle.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#restart {
    background-color: #3DD1E7;
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: #000000;
    display: flex;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 18px;
    font-weight: 700;
    justify-content: center;
    line-height: 5px;
    padding: 18px;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 100%;
    max-width: 460px;
    position: relative;
    cursor: pointer;
}